<aside>
üí° **Question 1**

Given an integer¬†`n`, return¬†*`true`¬†if it is a power of two. Otherwise, return¬†`false`*.

An integer¬†`n`¬†is a power of two, if there exists an integer¬†`x`¬†such that¬†`n == 2x`.

**Example 1:**
Input: n = 1

Output: true

**Example 2:**
Input: n = 16

Output: true

**Example 3:**
Input: n = 3

Output: false

</aside>

In [1]:
def poweroftwo(n):
  if n<=1:
    return n==1
  return poweroftwo(n/2)
print(poweroftwo(1))
print(poweroftwo(16))
print(poweroftwo(3))

True
True
False

<aside>
üí° **Question 2**

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3

Output: 6

**Example 2:**

Input  : 5

Output : 15

</aside>

In [2]:
def sum_n(n):
  if n<1:
    return 0
  return n+sum_n(n-1)
print(sum_n(3))
print(sum_n(5))

6
15

<aside>
üí° **Question 3**

****Given a positive integer, N. Find the factorial of N.

**Example 1:**

Input: N = 5

Output: 120

**Example 2:**

Input: N = 4

Output: 24

</aside>

In [3]:
def fact(n):
  if n<=1:
    return 1
  return n*fact(n-1)
print(fact(5))
print(fact(4))

120
24

<aside>
üí° **Question 4**

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :**

Input: N = 5, P = 2

Output: 25

**Example 2 :**
Input: N = 2, P = 5

Output: 32

</aside>

In [4]:
def power(n,p):
  if p==0:
    return 1
  if p%2==0:
    res=power(n,p//2)
    return res*res
  else:
    res=power(n,(p-1)//2)
    return n*res*res
power(5,2)

25

<aside>
üí° **Question 5**

Given an array of integers¬†**arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6};
Output: 8

**Example 2:**

Input: arr = {1, 4, 45, 6, 10, -8};
Output: 45

</aside>

In [6]:
def ma(arr,n):
  if n==1:
    return arr[0]
  return max(arr[n-1],ma(arr,n-1))
arr=[1,4,3,-5,-4,8,6]
ma(arr,len(arr))

8

<aside>
üí° **Question 6**

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5
Output : 6
The 5th term of the series is : 6

**Example 2:**

Input : a = 5 d = 2 N = 10
Output : 23
The 10th term of the series is : 23

</aside>

In [8]:
def series(a,d,n):
  if n==1:
    return a
  return series(a+d,d,n-1)
series(2,1,5)

6

<aside>
üí° **Question 7**

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = ‚ÄúABC‚Äù*

***Output:***

*‚ÄúABC‚Äù, ‚ÄúACB‚Äù, ‚ÄúBAC‚Äù, ‚ÄúBCA‚Äù, ‚ÄúCBA‚Äù, ‚ÄúCAB‚Äù*

**Example 2:**

***Input:***

*S = ‚ÄúXY‚Äù*

***Output:***

*‚ÄúXY‚Äù, ‚ÄúYX‚Äù*

</aside>

In [11]:
def permutations(s,l,r):
  if l==r:
    print(''.join(s))
  else:
    for i in range(l,r):
      s[l],s[i]=s[i],s[l]
      permutations(s,l+1,r)
      s[l],s[i]=s[i],s[l]
permutations(list("ABC"),0,3)

ABC
ACB
BAC
BCA
CBA
CAB

<aside>
üí° **Question 8**

Given an array, find a product of all array elements.

**Example 1:**

Input  : arr[] = {1, 2, 3, 4, 5}
Output : 120
**Example 2:**

Input  : arr[] = {1, 6, 3}
Output : 18

</aside>

In [13]:
def prod(arr,n):
  if n==1:
    return arr[0]
  return arr[n-1]*prod(arr,n-1)
arr=[1,2,3,4,5]
prod(arr,len(arr))

120